body, html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../img/346463-spooky-background-1920x1080-hd-for-mobile.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: 390px;
  width: 650px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 1rem black, 0 0 15rem 3rem black;
  align-items: center;
  position: absolute;
  transform: translate( -50%, -50%);
}

.question {
  padding: 20px;
  font-size: 22px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 10px 0 10px 0;
  text-shadow: 0 2px 3px black;
  width: 360px;
}

.answer {
  width: 270px;
  display: flex;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px 0 10px 10px;
  color: white;
  border-radius: 20px;
  text-shadow: 0 2px 3px black;
}

.nextbtn {
  border: none;
  outline: none;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 10px;
  background: black;
  color: #8A0707;
  font-family: 'Nosifer', cursive;
}

.result {
  height: 140px;
  text-align: center;
  font-size: 35px;
  color: #8A0707;
  font-family: 'Nosifer', cursive;
}

h1 {
  font-family: 'spiders', cursive;
  color: #8A0707;
  text-align: center;
  font-size: 90pt;
  height: 30%;
  text-shadow: 5px 5px 10px white;
}

.playerturn {
  align-items: baseline;
  text-align: center;
  position: relative;
  top: 350px;
  color: #8A0707;
  font-size: 30pt;
  font-family: 'Nosifer', cursive;
  text-shadow: 10, 10px, 10px, black;
  text-decoration-color: white;
}

#play:active {
 outline: black;
 border: none;
}

.nextbtn:active {
 outline: black;
 border: none;
}

#instructions {
  color: black;
  font-family: 'Oswald', sans-serif, bolder;
  font-size: 16pt;
  font-style: bolder;
  text-align: center;
}

#play {
  font-family: "spiders", cursive;
  background-color: transparent;
  border: 3px solid black;
  color: #8A0707;
  font-size: 100px;
  letter-spacing: 3px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  top: 50%;
  left: 50%;
  border: 1px solid #08038C;
  box-shadow: 0 0 1rem black, 0 0 14rem 3rem black;
  display: block;
  margin: auto;
  text-shadow: 0, 2px, 4px, black;
}
